<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\PageBuilder\Model\Stage\RendererPool">
        <arguments>
            <argument name="renderers" xsi:type="array">
                <item name="categories" xsi:type="object">Magento\PageBuilder\Model\Stage\Renderer\WidgetDirective</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\PageBuilder\Model\WidgetInitializerConfig">
        <arguments>
            <argument name="config" xsi:type="array">
                <item name="categories" xsi:type="array">
                    <item name="default" xsi:type="array">
                        <item name="component" xsi:type="string">Magento_PageBuilder/js/content-type/products/appearance/carousel/widget</item>
                        <item name="appearance" xsi:type="string">carousel</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Magento\Catalog\Model\View\Asset\VirtualCategoryImage" type="Magento\Catalog\Model\View\Asset\Image">
        <arguments>
            <argument name="mediaConfig" xsi:type="object">ParadoxLabs\PageBuilderWidgets\Model\Catalog\View\Media\Config</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Catalog\Model\Product\Image">
        <arguments>
            <argument name="viewAssetImageFactory" xsi:type="object">ParadoxLabs\PageBuilderWidgets\Model\Catalog\View\Asset\ImageFactory</argument>
        </arguments>
    </type>
</config>
